<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            Bit Sol Quick Access Of Links
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="referencesHeading">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapsereferencesHeading"
                                        aria-expanded="false" aria-controls="collapsereferencesHeading">
                                        BitSol Pvt Ltd

                                    </button>
                                </h2>
                            </div>
                            <div id="collapsereferencesHeading" class="collapse" aria-labelledby="referencesHeading"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://mail.google.com/mail/u/0/#inbox/FMfcgzGtxKXMNpNgkqFGpCNnlKNWgmJJ"
                                                target="_blank"> Offer Letter Email </a>
                                        </li>
                                        <li>
                                            <a href="https://us04web.zoom.us/j/7747973773?pwd=V0o0UThqTG85Zk56MGZ3ZlpTZWxpUT09"
                                                target="_blank"> Daily Zoom Meeting Link </a>
                                        </li>
                                        <li>
                                            <a href="https://docs.google.com/document/d/1AlMVkfzf0MfuGnehm9ohhlMigcYDEN85XSzpSJWMvsg/edit"
                                                target="_blank"> Deviotech Coding Standard ( Google Drive ) </a>
                                        </li>
                                        <li>
                                            <a href="http://localhost:4003/sb2_dashboard/coding_standard/laravel"
                                                target="_blank">
                                                Laravel Code Standard ( LocalHost - Port : 4003 ) </a>
                                        </li>

                                        <!-- Microservices in Laravel -->

                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>BitSol Email Credentials</strong>
                                        </li>
                                        <li>
                                            <a href="https://hostinger.titan.email/login/" target="_blank"> BitSol Email
                                                ( Login Link ) </a>
                                            <ul>
                                                <li style="list-style-type: none;">
                                                    <p>
                                                        <strong>Email: </strong>kashif@bitsoftsol.com<br>
                                                        <strong>Password: </strong>WZ:#Y?lQqYLP#]'
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>

                                        <!-- Microservices in Laravel -->

                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Skype Credentials</strong>
                                        </li>
                                        <li>

                                            <ul>
                                                <li style="list-style-type: none;">
                                                    <p>
                                                        <strong>Email: </strong>kashif@bitsoftsol.com<br>
                                                        <strong>Password: </strong>WZ:#Y?lQqYLP#]'
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                        <!-- Microservices in Laravel -->

                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>GitHub Credentials</strong>
                                        </li>
                                        <li>

                                            <ul>
                                                <li style="list-style-type: none;">
                                                    <p>
                                                        <strong>Email: </strong>kashif@bitsoftsol.com<br>
                                                        <strong>Password: </strong>WZ:#Y?lQqYLP#]'
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading3">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapsereferencesHeading3"
                                        aria-expanded="false" aria-controls="collapsereferencesHeading3">
                                        Deal Evaluation Calcuator - Project

                                    </button>
                                </h2>
                            </div>
                            <div id="collapsereferencesHeading3" class="collapse" aria-labelledby="referencesHeading3"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <strong>GitHub Clone Info</strong>
                                            <br>
                                            git clone git@github.com:hafizsiddiq7675/de-calculator.git
                                            <br>
                                        </li>
                                        <li>
                                            <a href="https://creativerealestatecalculator.com/" target="_blank">
                                                Demo Website - Creative Deal Calculator</a>
                                        </li>
                                        <li>
                                            <a href="http://localhost/phpmyadmin/index.php?route=/database/structure&server=1&db=bitsol_de_calculator"
                                                target="_blank">
                                                MySQL Database</a>
                                        </li>
                                        <li>
                                            <a href="https://docs.google.com/spreadsheets/d/1s0G28qWbCuiwEdB1lg2zXBEI9EkeGFWVmn2gH_izjbY/edit#gid=1711259846"
                                                target="_blank">
                                                Requirement Sheet DEC ( Google Drive ) </a>
                                        </li>

                                        <li>
                                            <a href="https://dashboard.nexmo.com/?adobe_mc=MCMID%3D58122656640050961100213564154376045226%7CMCORGID%3DA8833BC75245AF9E0A490D4D%2540AdobeOrg%7CTS%3D1696925965"
                                                target="_blank">
                                                My Vonage Developer Account ( Vonage )</a>
                                        </li>
                                        <li>
                                            <a href="https://temporary-phone-number.com/US-Phone-Number/19492883523"
                                                target="_blank">
                                                US Temporary Phone Numbers, Send or Receive Message ( Test US Numbers
                                                )</a>
                                        </li>
                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Calculator Guide (Original Amortiz)
                                            </strong>
                                        </li>
                                        <li>
                                            <a href="https://docs.google.com/spreadsheets/d/1s0G28qWbCuiwEdB1lg2zXBEI9EkeGFWVmn2gH_izjbY/edit#gid=1711259846"
                                                target="_blank">
                                                Requirement Sheet DEC - Original_Amortiz Tab ( Google Drive ) </a>
                                        </li>
                                        <li>
                                            <a href="https://noteunlimited.com/#/calculator" target="_blank">
                                                Original Amortiz ( Note Unlimited ) </a>
                                        </li>
                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Unit Testing in Laravel?
                                            </strong>
                                        </li>
                                        <li>
                                            <a href="https://5balloons.info/laravel-tdd-beginner-crud-example"
                                                target="_blank">
                                                Laravel CRUD With Unit Testing ( Unit Testing )</a>
                                        </li>
                                        <li>
                                            <a href="https://medium.com/@DCzajkowski/testing-laravel-authentication-flow-573ea0a96318"
                                                target="_blank">
                                                Unit Testing ( Authentication Unit Testing )</a>
                                        </li>
                                        <li>
                                            <a href="https://stackoverflow.com/questions/28790348/how-to-test-post-routes-in-laravel"
                                                target="_blank">
                                                <b>Simple Post Call</b> in Unit Test Case</a>
                                        </li>
                                        <li>
                                            <a href="https://stackoverflow.com/questions/61115454/why-i-receive-csrf-token-mismatch-while-running-tests-in-laravel"
                                                target="_blank">
                                                <b>APP_ENV=testing</b> to avoid 419 Token Mismatch Response While Unit
                                                Testing</a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading2">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapsereferencesHeading2"
                                        aria-expanded="false" aria-controls="collapsereferencesHeading2">
                                        Laravel Administration - Project

                                    </button>
                                </h2>
                            </div>
                            <div id="collapsereferencesHeading2" class="collapse" aria-labelledby="referencesHeading2"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <!-- <li>
                                            <a href="https://www.youtube.com/watch?v=mkq8FNFLOW8&list=PL8kfzPha-e2iC8cT79hd5hCVffkbW309d&ab_channel=UBKINFOTECH" target="_blank">Codignitor PlayList - Explained By ( UBK INFOTECH )  </a>
                                        </li> -->

                                        <!-- Microservices in Laravel -->
                                        <li>
                                            <strong>Clone Command : </strong>
                                            git clone
                                            git@github.com:hafizsiddiq7675/laravel-administration.git
                                        </li>
                                        <li>
                                            <strong>Admin Login : </strong><br>
                                            username: admin@bitsoft.com<br>
                                            password: bitsoft123
                                        </li>
                                        <li>

                                        </li>
                                        <li>
                                            <strong>Mailtrap Account : </strong>
                                            <a href="https://mailtrap.io/inboxes/1668626/messages/3764166706"
                                                target="_blank">MailTrap Emails</a>
                                        </li>
                                        <li>
                                            <strong>Create New SSH Key : </strong>
                                            <a href="https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent?platform=windows"
                                                target="_blank">Click
                                                Here To Create New SSH Key to Push Code in Saddiq Bhai GitHub</a>
                                        </li>
                                        <li>
                                            <strong>Django CRUD Admin Portal : </strong>
                                            <a href="https://sl-backend.bitsoftsol.com/admin/" target="_blank">Django
                                                CRUD Admin Portal
                                                Link</a>
                                        </li>
                                        <li>
                                            <strong>JOSH Auto CRUD Admin Template : </strong>
                                            <a href="http://crud.joshadmin.com/admin/generator_builder"
                                                target="_blank">JOSH
                                                CRUD Admin Portal
                                                Link</a>
                                        </li>

                                        <li>
                                            <strong>Seamless Admin Portal Documentation : </strong>
                                            <a href="https://github.com/Advaith3600/seamless-admin"
                                                target="_blank">Seamless Admin Portal Documentation</a>
                                        </li>
                                        <li>
                                            <a href="https://laravel-administration.actyte.com/" target="_blank">
                                                Laravel Administration ( Live Link )</a>
                                            <br>
                                            Username : admin <br>
                                            Password : password <br>
                                        </li>

                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Laravel Administration R & D </strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=6ohRJM_Z7_k&ab_channel=ProgrammingExperience"
                                                target="_blank">Create Custom Service Provider in Laravel</a>
                                        </li>
                                        <li>
                                            <a href="http://127.0.0.1:8002/admin" target="_blank">SeamLess Laravel Admin
                                                Demo ( LocalHost ) </a>
                                        </li>

                                        <li>
                                            <a href="http://127.0.0.1:8000/admin" target="_blank">Laravel Admin Auto
                                                CRUD
                                                Demo ( LocalHost ) </a>
                                        </li>
                                        <li>
                                            <a href="https://sl-backend.bitsoftsol.com/admin/" target="_blank">Django
                                                CRUD Admin Portal
                                                Link ( Django ) </a>
                                        </li>
                                        <li>
                                            <a href="http://crud.joshadmin.com/admin/generator_builder"
                                                target="_blank">JOSH
                                                CRUD Admin Portal
                                                Link ( JOSH ) </a>
                                        </li>
                                        <li>
                                            <a href="http://localhost/phpmyadmin/index.php?route=/database/structure&server=1&db=bitsol_laravel_administration"
                                                target="_blank">Laravel Administration Database
                                                ( MySQL Database ) </a>
                                        </li>

                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>How to write in Migration File?
                                            </strong>
                                        </li>
                                        <li>
                                            <a href="https://laracasts.com/discuss/channels/general-discussion/how-to-write-text-to-file-with-special-place-in-laravel"
                                                target="_blank">Laracast</a>
                                        </li>
                                        <li>
                                            <a href="https://laracasts.com/discuss/channels/general-discussion/how-to-write-text-to-file-with-special-place-in-laravel"
                                                target="_blank">StackOverflow</a>
                                        </li>
                                        <li>
                                            <a href="http://localhost/FileReadWrite/" target="_blank">File Read Write in
                                                PHP ( Local Host )</a>
                                        </li>
                                        <li>
                                            <a href="http://127.0.0.1:8000/admin/crud-schema/eyJtb2RlbCI6IkFwcFxcTW9kZWxzXFxIZWxsb3dvcmQiLCJ0YWJsZV9uYW1lIjoiaGVsbG93b3JkcyIsImlzX3RyYWl0X3VzZWQiOjAsIm1vZGVsX25hbWUiOiJIZWxsb3dvcmQiLCJtb2RlbF9maWxlX3BhdGgiOiJDOlxceGFtcHBcXGh0ZG9jc1xcQml0U29mdFNvbFxcbGFyYXZlbC1hZG1pbmlzdHJhdGlvblxcYXBwXFxNb2RlbHNcXEhlbGxvd29yZC5waHAiLCJtaWdyYXRpb25fZmlsZV9wYXRoIjoiQzpcXHhhbXBwXFxodGRvY3NcXEJpdFNvZnRTb2xcXGxhcmF2ZWwtYWRtaW5pc3RyYXRpb25cXGRhdGFiYXNlXFxtaWdyYXRpb25zXFwyMDIzXzEwXzA2XzA1MzYwNV9jcmVhdGVfaGVsbG93b3Jkc190YWJsZS5waHAiLCJpc19zY2hlbWFfY3JlYXRlZCI6MCwiaXNfc2NoZW1hX21pZ3JhdGVkIjowLCJkZXRhaWwiOiJIZWxsb3dvcmQtaGVsbG93b3Jkcy1DOlxceGFtcHBcXGh0ZG9jc1xcQml0U29mdFNvbFxcbGFyYXZlbC1hZG1pbmlzdHJhdGlvblxcYXBwXFxNb2RlbHNcXEhlbGxvd29yZC5waHAifQ==/edit"
                                                target="_blank">File Read Write in
                                                PHP ( Edit Database Schema Fields )</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading1">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapsereferencesHeading1"
                                        aria-expanded="false" aria-controls="collapsereferencesHeading1">
                                        Va Vision Task

                                    </button>
                                </h2>
                            </div>
                            <div id="collapsereferencesHeading1" class="collapse" aria-labelledby="referencesHeading1"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <!-- <li>
                                            <a href="https://www.youtube.com/watch?v=mkq8FNFLOW8&list=PL8kfzPha-e2iC8cT79hd5hCVffkbW309d&ab_channel=UBKINFOTECH" target="_blank">Codignitor PlayList - Explained By ( UBK INFOTECH )  </a>
                                        </li> -->

                                        <!-- Microservices in Laravel -->

                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Task Documentation</strong>
                                        </li>
                                        <li>
                                            <a href="https://docs.google.com/spreadsheets/d/1a2JYUcxHBR93WcnPKhdqUsvFsmWIIkL0/edit#gid=1583839532"
                                                target="_blank"> Documentation 25-Sep, 2023 ( Google Drive ) </a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
