<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            Bit Sol Quick Access Of Links
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="referencesHeading">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapsereferencesHeading"
                                        aria-expanded="false" aria-controls="collapsereferencesHeading">
                                        BitSol Pvt Ltd

                                    </button>
                                </h2>
                            </div>
                            <div id="collapsereferencesHeading" class="collapse" aria-labelledby="referencesHeading"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://mail.google.com/mail/u/0/#inbox/FMfcgzGtxKXMNpNgkqFGpCNnlKNWgmJJ"
                                                target="_blank"> Offer Letter Email </a>
                                        </li>
                                        <li>
                                            <a href="https://us04web.zoom.us/j/7747973773?pwd=V0o0UThqTG85Zk56MGZ3ZlpTZWxpUT09"
                                                target="_blank"> Daily Zoom Meeting Link </a>
                                        </li>
                                        <li>
                                            <a href="https://docs.google.com/document/d/1AlMVkfzf0MfuGnehm9ohhlMigcYDEN85XSzpSJWMvsg/edit"
                                                target="_blank"> Deviotech Coding Standard ( Google Drive ) </a>
                                        </li>
                                        <li>
                                            <a href="http://localhost:4003/sb2_dashboard/coding_standard/laravel"
                                                target="_blank">
                                                Laravel Code Standard ( LocalHost - Port : 4003 ) </a>
                                        </li>

                                        <li>
                                            <strong>Run Commands on Live, After Deployment</strong>
                                            <ul>
                                                <li>Composer update or Install <b>For new packages</b></li>
                                                <li>php artisan migrate:fresh --seed <b>For Updated migration files</b>
                                                </li>
                                                <li>Composer dump-autoload <b>For helper files or constant files</b>
                                                </li>
                                            </ul>
                                        </li>

                                        <!-- Microservices in Laravel -->

                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>BitSol Email Credentials</strong>
                                        </li>
                                        <li>
                                            <a href="https://hostinger.titan.email/login/" target="_blank"> BitSol Email
                                                ( Login Link ) </a>
                                            <ul>
                                                <li style="list-style-type: none;">
                                                    <p>
                                                        <strong>Email: </strong>kashif@bitsoftsol.com<br>
                                                        <strong>Password: </strong>WZ:#Y?lQqYLP#]'
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>

                                        <!-- Microservices in Laravel -->

                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Skype Credentials</strong>
                                        </li>
                                        <li>

                                            <ul>
                                                <li style="list-style-type: none;">
                                                    <p>
                                                        <strong>Email: </strong>kashif@bitsoftsol.com<br>
                                                        <strong>Password: </strong>WZ:#Y?lQqYLP#]'
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                        <!-- Microservices in Laravel -->

                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>GitHub Credentials</strong>
                                        </li>
                                        <li>

                                            <ul>
                                                <li style="list-style-type: none;">
                                                    <p>
                                                        <strong>Email: </strong>kashif@bitsoftsol.com<br>
                                                        <strong>Password: </strong>WZ:#Y?lQqYLP#]'
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading211">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapsereferencesHeading211"
                                        aria-expanded="false" aria-controls="collapsereferencesHeading211">
                                        JKP Portal Production - Project

                                    </button>
                                </h2>
                            </div>
                            <div id="collapsereferencesHeading211" class="collapse"
                                aria-labelledby="referencesHeading211" data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <!-- Microservices in Laravel -->
                                        <li>
                                            <strong>Clone Command : </strong>
                                            git clone
                                            git@github.com:dputz/jkpportal-production.git
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=wtgiEluCbhc&t=215s&ab_channel=CodeForYou"
                                                target="_blank">Upgrade or Downgrade Php Version By ( Code For You )</a>
                                        </li>
                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Errors in Installation of JKP Project into Localhost?
                                            </strong>
                                        </li>
                                        <li>
                                            Php Version - 7.4.33 <br>
                                            <a href="https://www.filehorse.com/download-xampp-portable/75984/download/"
                                                target="_blank">Download Php Xampp 7.4.33</a>

                                        </li>
                                        <li>
                                            SQL File too large, Update phpmyAdmin php.config.inc File
                                            <br> increase execution time
                                        </li>
                                        <li>
                                            <a href="https://elevenstechwebtutorials.com/detail/63/unknown-collation-fixed-utf8mb4_0900_ai_ci-in-mysql#:~:text=Unknown%20collation%3A%20'utf8mb4_0900_ai_ci'%3A,a%20different%20version%20of%20MYSQL."
                                                target="_blank">Import JKP Large Database - error solution</a>
                                        </li>
                                        <li>
                                            Register or Login Account with Google Captcha
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading3">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapsereferencesHeading3"
                                        aria-expanded="false" aria-controls="collapsereferencesHeading3">
                                        Deal Evaluation Calcuator - Project

                                    </button>
                                </h2>
                            </div>
                            <div id="collapsereferencesHeading3" class="collapse" aria-labelledby="referencesHeading3"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <strong>GitHub Clone Info</strong>
                                            <br>
                                            git clone git@github.com:hafizsiddiq7675/de-calculator.git
                                            <br>
                                        </li>
                                        <li>
                                            <a href="https://de-calculator.bitsoftsol.com/register" target="_blank">
                                                Staging Website - Creative Deal Calculator (Staging Link) </a>
                                        </li>
                                        <li>
                                            <a href="https://creativerealestatecalculator.com/" target="_blank">
                                                Demo Website - Creative Deal Calculator</a>
                                        </li>
                                        <li>
                                            <a href="https://docs.google.com/document/d/1xTgTLdoBij7cknGCrz0qfKZPwoB5PwC40FTuhF7cvXA/edit?usp=sharing"
                                                target="_blank">
                                                DEC Design Requirements ( Google Drive )</a>
                                        </li>
                                        <li>
                                            <a href="https://docs.google.com/spreadsheets/d/1mnWYrCH1CKGvf3nCO0nff97lpNOYYeDhSNUGzYF7Lpo/edit?usp=sharing"
                                                target="_blank">
                                                DEC Design Requirements, Auto Calculated Fields ( Google Drive )</a>
                                        </li>

                                        <li>
                                            <a href="http://localhost/phpmyadmin/index.php?route=/database/structure&server=1&db=bitsol_de_calculator"
                                                target="_blank">
                                                MySQL Database</a>
                                        </li>
                                        <li>
                                            <a href="https://docs.google.com/spreadsheets/d/1s0G28qWbCuiwEdB1lg2zXBEI9EkeGFWVmn2gH_izjbY/edit#gid=1711259846"
                                                target="_blank">
                                                Requirement Sheet DEC ( Google Drive ) </a>
                                        </li>

                                        <li>
                                            <a href="https://dashboard.nexmo.com/?adobe_mc=MCMID%3D58122656640050961100213564154376045226%7CMCORGID%3DA8833BC75245AF9E0A490D4D%2540AdobeOrg%7CTS%3D1696925965"
                                                target="_blank">
                                                My Vonage Developer Account ( Vonage )</a>
                                        </li>
                                        <li>
                                            <a href="https://temporary-phone-number.com/US-Phone-Number/19492883523"
                                                target="_blank">
                                                US Temporary Phone Numbers, Send or Receive Message ( Test US Numbers
                                                )</a>
                                        </li>
                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Amortization Schedule Calculator Guide
                                            </strong>
                                        </li>
                                        <li>
                                            <a href="https://docs.google.com/spreadsheets/d/1s0G28qWbCuiwEdB1lg2zXBEI9EkeGFWVmn2gH_izjbY/edit#gid=1711259846"
                                                target="_blank">
                                                Requirement Sheet DEC - Original_Amortiz Tab ( Google Drive ) </a>
                                        </li>
                                        <li>
                                            <a href="https://noteunlimited.com/#/calculator" target="_blank">
                                                Original Amortiz ( Note Unlimited ) </a>
                                        </li>

                                        <hr>

                                        <li>
                                            <a href="https://www.bankrate.com/mortgages/amortization-calculator/"
                                                target="_blank">
                                                Amortization Schedule Calculator Guide By ( Bankrate ) </a>
                                        </li>

                                        <li>
                                            <a href="https://www.ablebits.com/office-addins-blog/excel-pmt-function-formula-examples/#PMT-weekly-monthly-quarterly-payments"
                                                target="_blank">
                                                PMT Formula Guide By ( ABLEBITS ) </a>
                                        </li>

                                        <li>
                                            <a href="https://stackoverflow.com/questions/31088264/how-to-calculate-excel-pmt-using-php"
                                                target="_blank">
                                                PMT Formula in PHP Guide By ( Stack Overflow ) </a>
                                        </li>

                                        <li>
                                            <a href="https://www.amortization-calc.com/" target="_blank">
                                                Amortization Schedule Calculator Guide By ( Amortization-Calc ) </a>
                                        </li>

                                        <li>
                                            <a href="https://www.calculator.net/amortization-calculator.html?cloanamount=50%2C000&cloanterm=30&cloantermmonth=0&cinterestrate=4&caddoptional=1&cstartmonth=10&cstartyear=2023&cexma=0&cexmsm=10&cexmsy=2023&cexya=0&cexysm=10&cexysy=2023&cexoa=0&cexosm=10&cexosy=2023&caot=0&xa1=0&xm1=10&xy1=2023&xa2=0&xm2=10&xy2=2023&xa3=0&xm3=10&xy3=2023&xa4=0&xm4=10&xy4=2023&xa5=0&xm5=10&xy5=2023&xa6=0&xm6=10&xy6=2023&xa7=0&xm7=10&xy7=2023&xa8=0&xm8=10&xy8=2023&xa9=0&xm9=10&xy9=2023&xa10=0&xm10=10&xy10=2023&printit=0&x=Calculate#calresult"
                                                target="_blank">
                                                Verification of My Amortization Calculator </a>
                                        </li>

                                        <li>
                                            <a href="https://www.investopedia.com/terms/a/amortization.asp"
                                                target="_blank">
                                                Amortization Princple Formula </a>
                                        </li>


                                        <li>
                                            <a href="https://www.youtube.com/watch?v=QZfMW203v4U&ab_channel=TheOrganicChemistryTutor"
                                                target="_blank">
                                                Youtube - Amortization Table ( The Organic Chemistry Tour ) </a>
                                        </li>

                                        <li>
                                            <a href="https://www.youtube.com/watch?v=dQXQdEbLVRY&ab_channel=JoshuaEmmanuel"
                                                target="_blank">
                                                Youtube - Amortization Table ( Joshua Emmanuel ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=WFibKSQwyQs&ab_channel=SteveCrow"
                                                target="_blank">
                                                Youtube - Amortization Table ( Steve Crow ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=M9xD3yyLSAI&ab_channel=IHateMathGroup%2CInc"
                                                target="_blank">
                                                Youtube - Amortization Table ( I Hate Maths Group ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=Vg5jHawf-RA&ab_channel=MuhammadAamirAshrafOfficial"
                                                target="_blank">
                                                Youtube - Amortization Table ( Muhammad Aamir Ashraf Official ) </a>
                                        </li>


                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Unit Testing in Laravel?
                                            </strong>
                                        </li>
                                        <li>
                                            <a href="https://5balloons.info/laravel-tdd-beginner-crud-example"
                                                target="_blank">
                                                Laravel CRUD With Unit Testing ( Unit Testing )</a>
                                        </li>
                                        <li>
                                            <a href="https://medium.com/@DCzajkowski/testing-laravel-authentication-flow-573ea0a96318"
                                                target="_blank">
                                                Unit Testing ( Authentication Unit Testing )</a>
                                        </li>
                                        <li>
                                            <a href="https://stackoverflow.com/questions/28790348/how-to-test-post-routes-in-laravel"
                                                target="_blank">
                                                <b>Simple Post Call</b> in Unit Test Case</a>
                                        </li>
                                        <li>
                                            <a href="https://stackoverflow.com/questions/61115454/why-i-receive-csrf-token-mismatch-while-running-tests-in-laravel"
                                                target="_blank">
                                                <b>APP_ENV=testing</b> to avoid 419 Token Mismatch Response While Unit
                                                Testing</a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading2">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapsereferencesHeading2"
                                        aria-expanded="false" aria-controls="collapsereferencesHeading2">
                                        Laravel Administration - Project

                                    </button>
                                </h2>
                            </div>
                            <div id="collapsereferencesHeading2" class="collapse" aria-labelledby="referencesHeading2"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <!-- <li>
                                            <a href="https://www.youtube.com/watch?v=mkq8FNFLOW8&list=PL8kfzPha-e2iC8cT79hd5hCVffkbW309d&ab_channel=UBKINFOTECH" target="_blank">Codignitor PlayList - Explained By ( UBK INFOTECH )  </a>
                                        </li> -->

                                        <!-- Microservices in Laravel -->
                                        <li>
                                            <strong>Clone Command : </strong>
                                            git clone
                                            git@github.com:hafizsiddiq7675/laravel-administration.git
                                        </li>
                                        <li>
                                            <a href="https://packagist.org/packages/bitsoftsol/laravel-administration"
                                                target="_blank">Laravel Administration Package
                                                (<b>bitsoft/laravel-administration</b>) Developed By Kashif Ali</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/hafizSiddiq7675/laravel-administration"
                                                target="_blank">Laravel Administration <b>Package On GitHUB</b>
                                                (<b>bitsoft/laravel-administration</b>) Developed By Kashif Ali</a>
                                        </li>
                                        <li>
                                            Rename Repositary and Run Commands within your project to update the clone
                                            url<br><br>
                                            <b>Change origin url in current Project : </b> git remote set-url origin
                                            git@github.com:hafizsiddiq7675/laravel-startup.git <br><br>
                                            <b>Check the current origin url set in Project : </b> git remove -v <br><br>
                                        </li>
                                        <li>
                                            <strong>Admin Login : </strong><br>
                                            username: admin@bitsoft.com<br>
                                            password: bitsoft123
                                        </li>
                                        <li>

                                        </li>
                                        <li>
                                            <strong>Mailtrap Account : </strong>
                                            <a href="https://mailtrap.io/inboxes/1668626/messages/3764166706"
                                                target="_blank">MailTrap Emails</a>
                                        </li>
                                        <li>
                                            <strong>Create New SSH Key : </strong>
                                            <a href="https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent?platform=windows"
                                                target="_blank">Click
                                                Here To Create New SSH Key to Push Code in Saddiq Bhai GitHub</a>
                                        </li>
                                        <li>
                                            <strong>Django CRUD Admin Portal : </strong>
                                            <a href="https://sl-backend.bitsoftsol.com/admin/" target="_blank">Django
                                                CRUD Admin Portal
                                                Link</a>
                                        </li>
                                        <li>
                                            <strong>JOSH Auto CRUD Admin Template : </strong>
                                            <a href="http://crud.joshadmin.com/admin/generator_builder"
                                                target="_blank">JOSH
                                                CRUD Admin Portal
                                                Link</a>
                                        </li>

                                        <li>
                                            <strong>Seamless Admin Portal Documentation : </strong>
                                            <a href="https://github.com/Advaith3600/seamless-admin"
                                                target="_blank">Seamless Admin Portal Documentation</a>
                                        </li>
                                        <li>
                                            <a href="https://laravel-administration.actyte.com/" target="_blank">
                                                Laravel Administration ( Live Link )</a>
                                            <br>
                                            Username : admin <br>
                                            Password : password <br>
                                        </li>

                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Laravel Administration R & D </strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=6ohRJM_Z7_k&ab_channel=ProgrammingExperience"
                                                target="_blank">Create Custom Service Provider in Laravel</a>
                                        </li>
                                        <li>
                                            <a href="http://127.0.0.1:8002/admin" target="_blank">SeamLess Laravel Admin
                                                Demo ( LocalHost ) </a>
                                        </li>

                                        <li>
                                            <a href="http://127.0.0.1:8000/admin" target="_blank">Laravel Admin Auto
                                                CRUD
                                                Demo ( LocalHost ) </a>
                                        </li>
                                        <li>
                                            <a href="https://sl-backend.bitsoftsol.com/admin/" target="_blank">Django
                                                CRUD Admin Portal
                                                Link ( Django ) </a>
                                        </li>
                                        <li>
                                            <a href="http://crud.joshadmin.com/admin/generator_builder"
                                                target="_blank">JOSH
                                                CRUD Admin Portal
                                                Link ( JOSH ) </a>
                                        </li>
                                        <li>
                                            <a href="http://localhost/phpmyadmin/index.php?route=/database/structure&server=1&db=bitsol_laravel_administration"
                                                target="_blank">Laravel Administration Database
                                                ( MySQL Database ) </a>
                                        </li>

                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>How to write in Migration File?
                                            </strong>
                                        </li>
                                        <li>
                                            <a href="https://laracasts.com/discuss/channels/general-discussion/how-to-write-text-to-file-with-special-place-in-laravel"
                                                target="_blank">Laracast</a>
                                        </li>
                                        <li>
                                            <a href="https://laracasts.com/discuss/channels/general-discussion/how-to-write-text-to-file-with-special-place-in-laravel"
                                                target="_blank">StackOverflow</a>
                                        </li>
                                        <li>
                                            <a href="http://localhost/FileReadWrite/" target="_blank">File Read Write in
                                                PHP ( Local Host )</a>
                                        </li>
                                        <li>
                                            <a href="http://127.0.0.1:8000/admin/crud-schema/eyJtb2RlbCI6IkFwcFxcTW9kZWxzXFxIZWxsb3dvcmQiLCJ0YWJsZV9uYW1lIjoiaGVsbG93b3JkcyIsImlzX3RyYWl0X3VzZWQiOjAsIm1vZGVsX25hbWUiOiJIZWxsb3dvcmQiLCJtb2RlbF9maWxlX3BhdGgiOiJDOlxceGFtcHBcXGh0ZG9jc1xcQml0U29mdFNvbFxcbGFyYXZlbC1hZG1pbmlzdHJhdGlvblxcYXBwXFxNb2RlbHNcXEhlbGxvd29yZC5waHAiLCJtaWdyYXRpb25fZmlsZV9wYXRoIjoiQzpcXHhhbXBwXFxodGRvY3NcXEJpdFNvZnRTb2xcXGxhcmF2ZWwtYWRtaW5pc3RyYXRpb25cXGRhdGFiYXNlXFxtaWdyYXRpb25zXFwyMDIzXzEwXzA2XzA1MzYwNV9jcmVhdGVfaGVsbG93b3Jkc190YWJsZS5waHAiLCJpc19zY2hlbWFfY3JlYXRlZCI6MCwiaXNfc2NoZW1hX21pZ3JhdGVkIjowLCJkZXRhaWwiOiJIZWxsb3dvcmQtaGVsbG93b3Jkcy1DOlxceGFtcHBcXGh0ZG9jc1xcQml0U29mdFNvbFxcbGFyYXZlbC1hZG1pbmlzdHJhdGlvblxcYXBwXFxNb2RlbHNcXEhlbGxvd29yZC5waHAifQ==/edit"
                                                target="_blank">File Read Write in
                                                PHP ( Edit Database Schema Fields )</a>
                                        </li>
                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>How to convert laravel project to Laravel Package and install in
                                                Another Laravel Project?
                                            </strong>
                                        </li>
                                        <li>
                                            <a href="https://adevait.com/laravel/how-to-create-a-custom-package-for-laravel"
                                                target="_blank">Convert laravel project to package By ( Adeva ) </a>
                                        </li>
                                        <li>
                                            <a href="https://www.monocubed.com/blog/laravel-package-development/"
                                                target="_blank">Convert laravel project to package By ( Laravel Package
                                                Development ) </a>
                                        </li>
                                        <li>
                                            <a href="https://medium.com/@francismacugay/build-your-own-laravel-package-in-10-minutes-using-composer-867e8ef875dd"
                                                target="_blank">Convert laravel project to package By ( Medium )
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://devdojo.com/devdojo/how-to-create-a-laravel-package"
                                                target="_blank">Convert laravel project to package By ( DevDojo )
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.laravelpackage.com/" target="_blank">Convert laravel
                                                project to package By ( Laravel Package )
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://packagist.org/" target="_blank">Upload Your Laravel
                                                Packages on Packagist ( Packagist )
                                            </a>
                                        </li>
                                        <li>
                                            <b>Personal Packagist Account</b> <br>
                                            Username : alikashi543211 <br>
                                            Password : 12345@**AAAa <br>
                                        </li>

                                        <li>
                                            <b>BitSol Packagist Account</b> <br>
                                            Username : hafizSiddiq7675 <br>
                                            Password : !@76farooqumer <br>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading1">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapsereferencesHeading1"
                                        aria-expanded="false" aria-controls="collapsereferencesHeading1">
                                        Va Vision Task

                                    </button>
                                </h2>
                            </div>
                            <div id="collapsereferencesHeading1" class="collapse" aria-labelledby="referencesHeading1"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <!-- <li>
                                            <a href="https://www.youtube.com/watch?v=mkq8FNFLOW8&list=PL8kfzPha-e2iC8cT79hd5hCVffkbW309d&ab_channel=UBKINFOTECH" target="_blank">Codignitor PlayList - Explained By ( UBK INFOTECH )  </a>
                                        </li> -->

                                        <!-- Microservices in Laravel -->

                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Task Documentation</strong>
                                        </li>
                                        <li>
                                            <a href="https://docs.google.com/spreadsheets/d/1a2JYUcxHBR93WcnPKhdqUsvFsmWIIkL0/edit#gid=1583839532"
                                                target="_blank"> Documentation 25-Sep, 2023 ( Google Drive ) </a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading16">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapsereferencesHeading16"
                                        aria-expanded="false" aria-controls="collapsereferencesHeading16">
                                        Easy Development Work

                                    </button>
                                </h2>
                            </div>
                            <div id="collapsereferencesHeading16" class="collapse" aria-labelledby="referencesHeading15"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>

                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>How to Auto Open XAMPP and Auto Serve Laravel or Any Project on
                                                Startup of Windows
                                                ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=PIdTYqCPo_I&t=189s&ab_channel=mmk"
                                                target="_blank"> Auto Serve and Open the Laravel Project on Startup
                                                Explained By ( MMK )
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=1TKGvi_td50&ab_channel=DeveloperDuniya"
                                                target="_blank"> XAMPP Start Autometically When Windows Startup
                                                By (
                                                Developer Duniya )
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading15">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapsereferencesHeading15"
                                        aria-expanded="false" aria-controls="collapsereferencesHeading15">
                                        Islamic Guide Links

                                    </button>
                                </h2>
                            </div>
                            <div id="collapsereferencesHeading15" class="collapse" aria-labelledby="referencesHeading15"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <!-- <li>
                                            <a href="https://www.youtube.com/watch?v=mkq8FNFLOW8&list=PL8kfzPha-e2iC8cT79hd5hCVffkbW309d&ab_channel=UBKINFOTECH" target="_blank">Codignitor PlayList - Explained By ( UBK INFOTECH )  </a>
                                        </li> -->

                                        <!-- Microservices in Laravel -->

                                        <li
                                            style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Dua Kumail</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=A65jXfYg1ME&ab_channel=JafriAzadari"
                                                target="_blank"> Dua Kumail Part - 1 Recited By ( Allama Jan Ali Kazmi )
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=aVZqYqrJk68&ab_channel=JafriAzadari"
                                                target="_blank"> Dua Kumail Part - 2 Recited By ( Allama Jan Ali Kazmi )
                                            </a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->