<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            Bit Sol Quick Access Of Links
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="referencesHeading">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading"
                                    >
                                        BitSol Credentials

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading"
                                class="collapse"
                                aria-labelledby="referencesHeading"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://mail.google.com/mail/u/0/#inbox/FMfcgzGtxKXMNpNgkqFGpCNnlKNWgmJJ" target="_blank"> Offer Letter Email  </a>
                                        </li>

                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>BitSol Email Credentials</strong>
                                        </li>
                                        <li>
                                            <a href="https://hostinger.titan.email/login/" target="_blank"> BitSol Email ( Login Link ) </a>
                                            <ul>
                                                <li style="list-style-type: none;">
                                                    <p>
                                                        <strong>Email: </strong>kashif@bitsoftsol.com<br>
                                                        <strong>Password: </strong>WZ:#Y?lQqYLP#]'
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>

                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Skype Credentials</strong>
                                        </li>
                                        <li>

                                            <ul>
                                                <li style="list-style-type: none;">
                                                    <p>
                                                        <strong>Email: </strong>kashif@bitsoftsol.com<br>
                                                        <strong>Password: </strong>WZ:#Y?lQqYLP#]'
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>GitHub Credentials</strong>
                                        </li>
                                        <li>

                                            <ul>
                                                <li style="list-style-type: none;">
                                                    <p>
                                                        <strong>Email: </strong>kashif@bitsoftsol.com<br>
                                                        <strong>Password: </strong>WZ:#Y?lQqYLP#]'
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading1">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading1"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading1"
                                    >
                                        Va Vision Task

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading1"
                                class="collapse"
                                aria-labelledby="referencesHeading1"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <!-- <li>
                                            <a href="https://www.youtube.com/watch?v=mkq8FNFLOW8&list=PL8kfzPha-e2iC8cT79hd5hCVffkbW309d&ab_channel=UBKINFOTECH" target="_blank">Codignitor PlayList - Explained By ( UBK INFOTECH )  </a>
                                        </li> -->

                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>Task Documentation</strong>
                                        </li>
                                        <li>
                                            <a href="https://docs.google.com/spreadsheets/d/1a2JYUcxHBR93WcnPKhdqUsvFsmWIIkL0/edit#gid=1583839532" target="_blank"> Documentation 25-Sep, 2023 ( Google Drive ) </a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
